<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Expires" content="0">
    <title>图展示</title>
    <link rel="stylesheet" href="/static/css/layui/layui.css">
    <script src="/static/js/layui/layui.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/js/theme/grid.js"></script>
    <script src="/static/js/layui/js/excel.js"></script>


</head>

<body>
    <form class="layui-form my-form" lay-filter="agent_game_val" style="margin-top: 20px;">
        <div class="layui-form-item" style="margin-left: 20px;display: flex;">
            <select id="echart" name="echart" lay-filter="echart">
                <option value=""></option>
                <option value="0" data-title="line">line 折线图</option>
                <option value="1" data-title="column">column 柱状图</option>
                <option value="2" data-title="pie">pie 饼状图</option>
                <option value="3" data-title="spline">spline 平滑曲线</option>
                <option value="4" data-title="area">area 填充图</option>
                <option value="5" data-title="areaspline">areaspline 填充图</option>
                <option value="6" data-title="bar">bar 增长图</option>
                <option value="7" data-title="scatter">scatter 点位图</option>
            </select>

            <button type="submit" class="layui-btn" lay-submit="" lay-filter="echart_add">添加</button>


        </div>
    </form>

    <div id="container0">
    </div>

    <table lay-filter="downtable" lay-data="{id:'downtable'}">

</body>

</html>

<script src="/static/js/linkadmin/display.js"></script>